.home-header {
    width: 100%;
    min-height: 100vh;
    background-image: url(/image/header_background.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
}

.home-header:before {
    content: '';
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(75deg, $header-background1, $header-background2);
}

.navbar {
    padding: 0;
}

.navbar-container.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
}

.bg-light {
    position: fixed;
    z-index: 20;
    width: 100%;
}

@media (min-width: 770px) {
    .bg-light {
        background-color: transparent!important;
    }
}

.navbar-nav a {
    color: $primary!important;
    font-family: $home-primary-font;
    padding: 10px, 25px;
    text-align: center;
}

.navbar-nav a:hover {
    color: $custom-green!important;
}

.text-header {
    min-height: 100vh;
    color: $primary;
    font-family: $home-primary-font;
}

.text-header h1 {
    font-family: $home-cursive-font;
    font-size: 3em;
}

.text-header span {
    font-size: 1.5em;
    font-family: $home-primary-font $home-secondary-font;
    margin: 0 0 0 5px;
}

.text-header p {
    font-size: 1.23em;
    margin-bottom: 3.5em;
}

.custom-btn {
    padding: 7px 12px;
    color: $custom-green;
    background-color: $primary;
}

.custom-btn:hover {
    color: $primary;
    background-color: $custom-green-soft;
}

.nav-item {
    font-size: 1.2rem;
}

@media (min-width: 769px) {
    .header-icon  {
        font-size: .9em;
    }
    .membership-links {
        width: 35%;
    }
    .register-link, .login-link {
        a {
            font-size: .8em;
        }
    }
}