.card-columns {
    @include media-breakpoint-only(lg) {
        column-count: 3;
    }
    @include media-breakpoint-only(md) {
        column-count: 2;
    }
    }

.blog-cards {
    margin: auto 0;
    padding: 2em 1.8em;
    background-image: linear-gradient(0deg, $header-background1, $header-background2);
}

.card {
    margin: .8em .25em;
}

.card-title {
    font-family: $blog-title-font;
}

.card-text {
    font-family: $blog-content-font;
}

@media (max-width: 423px) {
    .card {
        margin: .8em 0;
    }
    .blog-cards {
        margin: auto 0;
        padding: 2em .5em;
    }
}