.popular-post-likes {
    position: absolute;
    top: .8em;
    right: 1.2em;
    background-color: $custom-green-soft;
    padding: .5em .5em;
    border-radius: 10px;
}

.popular-post-likes h4 {
    margin: 0;
}

.like-button {
    display: flex;
    flex: row;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    font-family: $home-secondary-font;
    span {
        font-size: .8em;
        margin: 0 .6em;
    }
}

.like-button-icon:hover {
    color: $primary-soft;
    cursor: pointer;
}

.post-section {
    background-color: $blog-background;
    font-family: $blog-content-font;
}

.post-section h2 {
    font-weight: 600;
}

.comment-area {
    resize: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

.comment-submission-btn {
    background-color: $primary;
    color: $custom-green;
    margin-top: .6em;
}

.comment-submission-btn:hover {
    background-color: $custom-green-soft;
    color: $primary;
}

.popular-posts-headline, .popular-tags-headline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1.2em 1.8em;
    h4 {
        font-weight: 600;
        margin: 0;
    }
} 

.popular-tags {
    font-size: .9em;
    padding-bottom: 1em;
}

@media (max-width: 769px) {
    .popular-tags {
        font-size: 1.2em;
    }
}

.popular-tag {
    padding: 0;
    margin-bottom: .5em;
}

.post-content {
    padding: 2.5em 3em;
    text-align: justify;
}

@media (max-width: 769px) {
    .post-content {
        padding: 1.5em 2em;
    }
}

.post-img {
    display: block;
    margin-left: auto;;
    margin-right: auto;
    padding-bottom: .6em;
    max-width: 80%;
}

.figure-label {
    text-align: center;
    font-size: .8em;
}

.post-interaction {
    padding-top: 1.2em;
    font-family: $home-primary-font;
    p {
        margin-bottom: .6em;
    }
}

.post-sidebar {
    padding-left: 0;
}

@media (max-width: 426px) {
    .post-sidebar {
        padding-left: .8em;
        padding-right: .8em;
    }
}